.footer {  
	width: 100%;
  height: 60px;
	margin: 0 auto;
	background: #1976d2;
	color: #fff;  
}

.footer-container {
  padding: 0px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__column {
  display: flex;
}

.footer__github {
  margin: 0px 3px 0px 20px;
  width: 30px;
  height: 30px;
  background: url("/assets/svg/github.svg");
  background-size: contain;  
}

.footer__github-wrap {
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__rss {
  display: flex;
  width: 100px;
  height: 30px;
  background: url("/assets/svg/rs-logo.svg") no-repeat;
}

a {
  text-decoration: none;
}
